NEXT_PUBLIC_CONTRACT_ADDRESS=0x17947868b1D28FE64A87D73D146b71ca9c2d0cA1
NEXT_PUBLIC_GENLAYER_CHAIN=studionet
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_NETWORK=studionet
NEXT_PUBLIC_PINATA_JWT=your_pinata_jwt_here
